:root{
    --gris: #919191;
    --rojo: #E3350D;
    --naranja: #ee6b2f;
    --amarillo: #E6BC2F;
    --verde: #4DAD5B;
    --celeste: #30A7D7;
    --azul: #1b53ba;
    --negro:  #313131;
    --morado: #855AC9;
    font-family: Arial;

}

.nav-btn{
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    flex: 1;
}

.nav-btn:nth-child(1){
    border-bottom: 6px solid var(--gris);
    background-color: var(--gris);
    color: #fff;
}

.nav-btn:nth-child(2){
    border-bottom: 6px solid var(--rojo);
}

.nav-btn:nth-child(2):hover{
    background-color: var(--rojo);
    color: #fff;
}

.nav-btn:nth-child(3){
    border-bottom: 6px solid var(--naranja);
}

.nav-btn:nth-child(3):hover{
    background-color: var(--naranja);
    color: #fff;
}

.nav-btn:nth-child(4){
    border-bottom: 6px solid var(--amarillo);
}

.nav-btn:nth-child(4):hover{
    background-color: var(--amarillo);
    color: #fff;
}

.nav-btn:nth-child(5){
    border-bottom: 6px solid var(--verde);
}

.nav-btn:nth-child(5):hover{
    background-color: var(--verde);
    color: #fff;
}

.nav-btn:nth-child(6){
    border-bottom: 6px solid var(--celeste);
}

.nav-btn:nth-child(6):hover{
    background-color: var(--celeste);
    color: #fff;
}

.nav-btn:nth-child(7){
    border-bottom: 6px solid var(--azul);
}

.nav-btn:nth-child(7):hover{
    background-color: var(--azul);
    color: #fff;
}

.evento{
    background-color: var(--amarillo);
    padding: 0;
    border-radius: 5px;
    overflow: hidden; /*Ocultar el contenido que se desborda para que se vean todos los bordes redondeados*/
}

.evento h1{
    color: #fff;
    font-size: 22px;
    padding: 3.75px, 0px, 22.5px, 0px;
}

.evento header{
    min-height: 325px;
    background-image: url(../img/pokemon-tcg.png);
    background-size: cover; /*Cubrir el 100% de su contenedor padre*/
}